*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.footer_section {
  background-color: rgb(32, 31, 31);
  width: 95vw;
  margin-top: 1rem;
}

.aboutUs_section {
 padding-top: 1.5rem;
 background-color: black;
 color: white;
 width: 95vw;
} 

 .container-fluid .sidebar h3{
 color: #FFC800;
 font-size: 11rem;
}

.container-fluid .sidebar h5{
 color: #FFC800;
}

.experience {
  padding-top: 3rem;
  padding-top: 2rem;
}

.experience .container .row .shape {
  padding-top: 2rem;
}

.square {
  height: 100px;
  width: 100px;
  background-color: #FFC800;
  align-content: flex-end;
}

.projects .container .row img{
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.projects .container .row h3 {
color: #FFC800;
}

.design .container .row h6{
  color: #FFC800;
}

.contact_us h2 {
  color: #FFC800; 
}

 .container-fluid .contact-us {
  width: 95vw;
  height: 100vh;
}

.contact-us .container-fluid .row img  {
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1.5;
}






















