*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
.container-fluid .section {
  height: 100%;
}

/* .container-fluid .section .bg-image {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */
 .footer_section {
  width: 95vw;
} 

.aboutUs_section {
 width: 95vw;
 height: 100%;
} 

 .container-fluid .sidebar h3{
 color: #FFC800;
 font-size: 11rem;
}

.container-fluid .sidebar h5{
 color: #FFC800;
}

.square {
  height: 100px;
  width: 100px;
  background-color: #FFC800;
  
}

.container-fluid .projects {
  height: 50vh;
}

.projects .container-fluid img{
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.projects .container-fluid .row h3 {
color: #FFC800;
}

.design .container .row h6{
  color: #FFC800;
}

.contact_us h2 {
  color: #FFC800; 
}

 .container-fluid .contact-us {
  width: 95vw;
  height: 100vh;
}























