*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}



.bg-image{
 background-position: 50%;
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.9;
}

.bg-image img {
 width: 200px;
}
#section {
  padding-bottom: 2rem;
  height: fit-content;
}
#section .container .section_header h2 {
 color: white;
 font-size: 6rem;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 padding-top: 4rem;;
}

#section .container .section_header p {
 color: white;
 font-size:  1rem;;
 padding-bottom: 2rem;
}


.aboutUs_section {
 padding-top: 1.5rem;
 background-color: black;
 color: white;
} 
 
.aboutUs_section .container .row h4{
 font-size: 2rem;
 padding-bottom: 1rem;
}

 
.aboutUs_section .container .row p{
 font-size: 1rem;
 padding-bottom: 2rem;
}

.aboutUs_section .container .row h1 {
 color: #FFC800;
 padding-bottom: 1rem;
}

.aboutUs_section .container .row .row h5 {
 padding-top: 2rem;
 padding-bottom: 0.5rem;
}

.aboutUs_section .container .row .row h6 {
 font-size: 0.8rem;
 padding-bottom: 0.5rem;
}

.aboutUs_section .container .row .row i {
 background-color:  white;
 color: white;
 font-size: 50px;
}

.sidebar .container .row {
 padding-top: 2rem;
 padding-bottom: 1rem;
}

.sidebar .container .row h3{
 color: #FFC800;
 font-size: 15rem;
 padding-bottom: 1rem;
}

.sidebar .container .row h5{
 color: #FFC800;
 font-size: 1.5rem;
 font-weight: bold;
 font-style: italic;
 font-family: Arial, Helvetica, sans-serif;
}

.sidebar .container .row h4{
 font-size: 3.5rem;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
}

.experience {
  padding-top: 3rem;
  padding-top: 2rem;
}

.experience .container .row .shape {
  padding-top: 2rem;
}

.experience .container .row h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.experience .container .row h6 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFC800;
}

.square {
  height: 100px;
  width: 100px;
  background-color: #FFC800;
  align-content: flex-end;
}

.row {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.row .bg-image{
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
 }
 
 .row .bg-image img {
  width: 200px;
 }
.customer .bg-image .row {
  padding-top: 10rem;;
  padding-bottom: 10rem;
}

.count-title {
  font-size: 3rem;
  font-weight: normal;
  margin-top: 2rem;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color:  #FFC800;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: white;
  font-size: 3rem;
}

.projects .container .row img{
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.projects .container .row h3 {
font-size: 3rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
color: #FFC800;
text-align: end;
}

.projects .container .row p{
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  text-align: end;
}

.design .container .row h3{
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.design .container .row h6{
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFC800;
}

.design .container .row .container .row p {
  font-size: 0.7rem;
  padding-top: 0;
}



.contact_us h2 {
  font-size: 2rem;
  color: #FFC800; 
}

.contact_us h3 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: white;
}

.contact_us p {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}

.contact-us .container .row img  {
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1.5;
}

footer {
  background: black;
  margin-top: 2rem;
 }
 
 footer p {
  color: white;
  text-align: center;
  padding-top: 2rem;
  font-size: 1rem;
 }
 
 .footer_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFC800;
  padding-bottom: 1.5rem;
 }

/* display: table (for icons) */

        /* media query 675px*/

@media (max-width: 675px) {
 #section .container .section_header h2 {
  color: #FFC800;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#section .container .section_header p {
 color: white;
 font-size:  1.2rem;
}
}

      /* media query 475px */
@media (max-width: 475px) {
 #section .container .section_header h2 {
  color: white;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#section .container .section_header p {
 color: white;
 font-size:  0.5rem;;
}

.contact_us h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.nav-header .container ul li {
  display: flex !important;
  flex-direction: column !important;
}

.customer .row  {
  display: none;
}

}

